@model TitanHelp.Models.Ticket

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 @*// v1.2 changing format with br and changing defined headings.*@
 <br />
<h3>Editing @Html.DisplayFor(model => model.Name)</h3>
<br />
<p>Please make changes to Ticket and Save or select Back to List to return to Help Desk.</p>
<br />
@* <h5>Editing @Html.DisplayFor(model => model.Name)</h5> *@
@* <hr /> *@
@* <br /> *@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                @* // v1.2 testing space break*@
                <br />
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

@* <div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
@* //Added button to link *@
@* <div class="Back">
    <button type="button" class="btn btn-secondary"><a asp-action="Index">Back to List</a></button>
</div> *@

@* // v1.1 return to index back button without href link attr
    Test = Good
    ****New button control to return to table.
*@
<div class="back-to-list">
    <a class="btn btn-secondary" asp-controller="TicketControllerWithViews" asp-action="Index">Back to List</a>
</div>


