@{
    ViewData["Home Page"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><br>Welcome to The Titan Help Desk Interface </br></h1>
        <br> <h2>Initially Displaying Empty Tickets</h2><br/> 
        <br> <h3> Coming soon! Create Ticket Button and Help Desk Form</h3><br/>
        @*Changed above welcome intro and added breaks <br> <h2> and <h3> format to instructions for fun
            
        Inserted the GitHub Repository link in the footer.*@

    <footer>TitanHelpApplicationCollaboration <a href="https://github.com/g0rg0nz01a/TitanHelp.git">&copy; 2024 LNS, Collaborations</a>.</footer>
</div>
